{% extends "layout.html" %}

{% block body %}

<ul style="margin-top:64px;" id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background deep-purple darken-1"></div>
            <a href="#name"><span class="white-text name">{{ current_user.researcher.first_name }} {{current_user.researcher.last_name }}</span></a>
            <a href="#email"><span class="white-text email">{{ current_user.email }}</span></a>
        </div>
    </li>
    <li><a class="waves-effect" href="{{ url_for("profile.view") }}"><i class="material-icons">info</i>General Information</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="education") }}"><i class="material-icons">school</i>Education</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="employment") }}"><i class="material-icons">work</i>Employment</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="membership") }}"><i class="material-icons">person</i>Membership</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="award") }}"><i class="material-icons">card_giftcard</i>Awards</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="funding_diversification") }}"><i class="material-icons">euro_symbol</i>Funding Diversification</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="team_member") }}"><i class="material-icons">people</i>Team Member</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="impact") }}"><i class="material-icons">title</i>Impact</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="innovation") }}"><i class="material-icons">create</i>Innovation</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="publication") }}"><i class="material-icons">book</i>Publications</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="presentation") }}"><i class="material-icons">content_paste</i>Presentations</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="academic_collaboration") }}"><i class="material-icons">donut_small</i>Academic Collaborations</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="non_academic_collaboration") }}"><i class="material-icons">donut_large</i>Non-Academic Collaborations</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="conference") }}"><i class="material-icons">event</i>Conferences</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="communication_overview") }}"><i class="material-icons">event_seat</i>Communication</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="sfi_funding_ratio") }}"><i class="material-icons">account_balance</i>SFI Funding Ratio</a></li>
    <li><a class="waves-effect" href="{{ url_for("profile.viewSection" , section="education_and_public_engagement") }}"><i class="material-icons">public</i>Education & Public Engagement</a></li>
  </ul>

  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons medium">navigate_next</i></a>

<div class="row">
<div class="container">
{% for instance in data %}
    <div class="row">
    <div class="col s12 m8 offset-m2 l8 offset-l2">
      <div class="card">
          <div class="card-content ">
              <table class="striped">
                  {% for field in instance %}
                  {% if field != "ID" %}
                  <tr>
                      <td>
                          {{ field }}:
                      </td>
                      <td>
                          {{ instance[field] }}
                      </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
              </table>
              <a href={{ url_for("profile.edit" , section=section, id=instance.ID ) }} class="waves-effect waves-light btn">Make Change</a>
          </div>
      </div>
    </div>
    </div>
{% endfor %}
    <div class="row center-align">
        <a href={{ url_for("profile.add"+ models[section] ) }} class="waves-effect waves-light btn">
            <div class="valign-wrapper">
                <i class="material-icons medium">add</i>
                <span>add</span>
            </div>
        </a>
    </div>
</div>{% endblock %}
</div>