<!--
	When participating in official or sanctioned tournaments, these are the rules you will have to follow in addition to the cardfight rules.
-->

{% extends "layout.html" %}

{% block body %}

	<h1>Home Page</h1>

	<!--asthetics, kinda thought it would look nice if we referenced the page we where changing-->
	<p>
		Science Foundation Ireland provides grants for researchers from around the world 
		who wish to relocate to Ireland and those already based in Ireland, 
		for outstanding investigators, for conferences and symposia, and for collaboration with industry.
	</p>


	<h1 id="proposal_table">Proposal statues</h1>

	<table>
		<tr>
		<th>Approved Applications</th>
		<th>Pending Applicaitons</th>
		</tr>
		<!--just a quick check to see if I'm doing it right-->
		<tr>
		{% if approvedNum == 0 %}
			<td>No items have been approved</td>
		{% else %}
		<!-- Approved messages to be displayed for you and your friends-->
			{% for items in approved %}
				<td>{{ items }}</td>
			{% endfor %}
		{% endif %}
		{% if pending_reviewNum == 0 %}
			<td>there is no items pending</td>
		{% else %}
		<!--Pending messages cause I think it'll look nice-->
			{% for item in pending_review %}
				<td>{{ pending_review }}</td>
			{% endfor %}
		{% endif %}
		</tr>
	</table>

{% endblock %}