# Byte-compiled files
__pycache__/
*/__pycache__/
*.py[cod]
*.py.swp
*.cpython-36.pyc
# Linux swap files
*.swp

#  Vscode settings
.vscode
.vscode/**

# Virtual envoiroment directory
.venv

# Database instance
app.db

# Uploads
uploads/**/*