{% extends "layout.html" %}

{% block body %}
<br>
<div class="container center-align">
    <!-- <div class="row">
        <div class="col s4">
            <h1>Proposal Statistics</h1>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col s6">
            <div class="card center-align">
                <div class="card-content blue-light-custom white-darken-text">
                    <h5>Proposals Requiring Admin Review</h5>
                    <h4>{{ proposal_stats["PENDING ADMIN 1"] + proposal_stats["PENDING ADMIN 2"] }}</h4>
                </div>
            </div>
        </div> -->
    <div class="row">
        <div class="col s6 m6 offset-m3">
            <div class="card grey lighten-3">
                <div class="card-content">
                    <span class="card-title blue-text">{{ proposal_stats["PENDING ADMIN 1"] + proposal_stats["PENDING ADMIN 2"] }}</span>
                    <p>Proposals Requiring Admin Review</p>
                </div>
                <div class="card-action">
                    <a href="calls/all_calls" class="orange-text">View Proposals</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m6 offset-m3">
            <div class="card grey lighten-3 center-align">
                <div class="card-content">
                    <span class="card-title blue-text">{{ proposal_stats["PENDING REVIEW"] }}</span>
                    <p>Proposals Under External Review</p>
                </div>
            </div>
        </div>
    </div>
        <!-- <div class="col s4">
            <div class="card">
                <div class="card-content teal white-text">
                    <h5>Accepted Proposals</h5>
                    <h4>{{ proposal_stats["APPROVED"] }}</h4>
                </div>
            </div> -->
</div>
{% endblock %}