{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card-panel large">
            <h4>Proposals</h4>
            <h6>In Need of Review</h6>
            <table>
                <thead>
                    
                    <th style="max-width: 100px">Date Applied</th>
                    <th>Title</th>
                    <th>Submitted By</th>
                    <th><th>
                </thead>

                <tbody>
                    {% for p in proposals %}
                    {% if p.status == "PENDING ADMIN 1"%}
                    <tr>
                        
                        <td style="width: 150px">{{ p.datetime_applied.strftime("%Y-%m-%d") }}</td>
                        <td>{{ p.title }}</td>
                        <td>{{ p.researcher.first_name}} {{ p.researcher.last_name }}</td>
                        <td><a href="{{ url_for('admin.review', proposal_id=p.id) }}">Review</a></td>
                    </tr>
                    {% endif %}
                    {% endfor%}
                    
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}