<style>
    form * {display: block; margin: 10px;}
</style>

{% macro render_field(field, placeholder="") %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

{% block body %}
<div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
    <div class="card white darken-1">
        <div class="card-content">
            <span class="card-title center-align">Grant Application</span>
            {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}

                <form method="POST" id="proposal-form" role="form" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    {{ render_field(form.title, placeholder="title") }}
                    {{ render_field(form.duration, placeholder="duration" ) }}
                    {{ form.nrp.label }}
                    {{ form.nrp() }}

                    {{ render_field(form.legal_remit, placeholder="legal_remit" ) }}
                    {{ render_field(form.ethical_issues, placeholder="ethical_issues" ) }}
                    {{ render_field(form.location, placeholder="location" ) }}
                    {{ render_field(form.co_applicants, placeholder="co_applicants" ) }}
                    {{ render_field(form.collaborators, placeholder="collaborators" ) }}
                    {{ render_field(form.scientific_abstact, placeholder="scientific_abstract") }}
                    {{ render_field(form.lay_abstract, placeholder="lay_abstract") }}
                    {{ render_field(form.programme_documents, placeholder="programme_documents") }}
                    {{ form.agree.label }}
                    {{ render_field(form.agree, placeholder="agree") }}
                    <a class="waves-effect waves-light btn"
                        onclick="document.getElementById('proposal-form').submit();">Apply</a>
                </form>
        </div>
    </div>
</div>
{% endblock %}