{% extends "layout.html" %}


{% block head %}
<style>
    body {
        font-family: sans-serif;
    }



    input[type='file'] {
        display: none;
    }

    .file-info {
        font-size: 0.9em;
    }





    @media (max-width: 300px) {
        button {
            width: 100%;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0;
        }

        .file-info {
            display: block;
            margin: 10px 5px;
        }
    }
</style>
{% endblock %}


{% block body %}

<div class="row">
    <div class="col s6 offset-s3">
        <div class="card white darken-1">
            <div class="card-panel">
                <h3 class="card-title center-align">Make Call for Proposals</h3>
                {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}

                    <form method="POST" id="call-form" role="form" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        <div class="input-field">
                            {{ form.information(class="materialize-textarea") }}{{ form.information.label }}
                        </div>
                        <div class="input-field">
                            {{ form.target_group(class="materialize-textarea") }}{{ form.target_group.label }}
                        </div>

                        <p>
                            <div class="input-container">
                                {{ form.proposal_template(id="real-input")}}
                                <a class="browse-btn btn-floating btn-small waves-effect waves-light teal">
                                    <i class="material-icons">file_upload</i>
                                </a>
                                <span class="file-info">Upload Proposal Template</span>
                            </div>
                        </p>

                        <div class="input-field">
                            {{ form.deadline(class="datepicker") }} {{ form.deadline.label }}
                        </div>
                        <div class="input-field">
                            {{ form.eligibility_criteria(class="materialize-textarea") }}
                            {{ form.eligibility_criteria.label }}
                        </div>
                        <div class="input-field">
                            {{ form.duration_of_award }}{{ form.duration_of_award.label }}
                        </div>
                        <div class="input-field">
                            {{ form.reporting_guidelines(class="materialize-textarea") }}{{ form.reporting_guidelines.label }}
                        </div>
                        <div class="input-field">
                            {{ form.expected_start_date(class="datepicker") }}{{ form.expected_start_date.label }}
                        </div>


                        <a class="waves-effect waves-light btn"
                            onclick="document.getElementById('call-form').submit();">Publish Call</a>
                    </form>
            </div>
        </div>
    </div>
</div>

<script>
        const uploadButton = document.querySelector('.browse-btn');
        const fileInfo = document.querySelector('.file-info');
        const realInput = document.getElementById('real-input');
    
        uploadButton.addEventListener('click', (e) => {
            realInput.click();
        });
    
        realInput.addEventListener('change', () => {
            const name = realInput.value.split(/\\|\//).pop();
            const truncated = name.length > 20
                ? name.substr(name.length - 20)
                : name;
    
            fileInfo.innerHTML = truncated;
        });
    </script>

{% endblock %}