{% extends "layout.html" %}

{% block body %}

<div class="col-sm-12 col-lg-8 col-lg-offset-2">

    <h1 class="center-align teal-text">Calls for Proposals</h1>

    <div class="row">
        {% for call in calls %}
            <div class="col s6 ">
                <div class="col m12 card medium white darken-1 hoverable">
                    <div class="card-content">
                        <span class="card-title teal-text center-align">Call For Proposal</span>
                        <hr>
                        <!-- call.deadline.strftime('%d %h %Y at %H:%M' -->
                        <p class="teal-text">Deadline &#9472; {{call.deadline}}</p>
                        <p class="teal-text">Award &#9472; €40,000</p>
                        <p class="teal-text">Duration &#9472; 6 months</p><br>
                        <p>{{call.target_group}}</p><br>
                        <p>{{call.information}}</p><br>
                        <!-- <p>{{call.proposal_template}}</p> -->
                    </div>

                    <div class="card-action">
                        <!-- <a href="#" class="teal-text">Read more</a> -->
                        <a href="{{ url_for('call_system.apply', call_id=call.id) }}" class="teal-text">Apply Now</a>
                        {% if current_user.is_authenticated %}
                        <!-- <button class="btn waves-effect waves-light white teal-text" type="submit" name="action">Apply Now</button> -->
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

</div>

{% endblock %}
