{% extends "layout.html" %}

{% block body %}

<div class="col-sm-12 col-lg-8 col-lg-offset-2">

    <h1 class="center-align">Calls for Proposals</h1>

    <div class="row">
        {% for call in calls %}
            <div class="col s6 ">
                <div class="col m12 card medium white darken-1 hoverable">
                    <div class="card-content">
                        <span class="card-title center-align">Call For Proposal</span>
                        <hr>
                        <p><b class="red-text">Deadline</b> &#9472; {{call.deadline}}</p>
                        <p><b class="teal-text">Date Published</b> &#9472; {{call.date_published}}</p>
                        <p><b class="teal-text">Duration</b> &#9472; {{call.duration_of_award}}</p><br>
                        <p><b class="teal-text">Target Group</b> &#9472; {{call.target_group}}</p><br>
                        <p><b class="teal-text">Call Information</b> &#9472; {{call.information}}</p><br>
                    </div>


                    {% if current_user.role == 'RESEARCHER' %}
                    <div class="card-action">
                      <a href="{{ url_for('call_system.view_call', call_id=call.id) }}" class="waves-effect waves-light btn">Read more</a>
                        <a href="{{ url_for('call_system.apply', call_id=call.id) }}" class="waves-effect waves-light btn">Apply Now</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

</div>

{% endblock %}

