{% macro render_field(field, placeholder="") %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

<!doctype html>
<html>
    <head>
        <title>Sesame</title>
        <meta charset="utf-8"/>
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <style>

            body {background-color: #E2E2E2;
                font-family: 'Roboto', sans-serif;}
            nav ul a, nav .brand-logo{ color: #cfd8dc;}
            .nav-wrapper{background-color: #284665}
            .white-darken-text *{
                color: #cfd8dc;
            }
            .blue-light-custom{ background-color: #284665}
        </style>
    </head>

    <body>
        <nav>
                <div class="nav-wrapper">
                     <div class="container">
                            {% if current_user.role == "ADMIN" %}
                              <a href="#" class="brand-logo">Sesame - SFI Admin Portal</a>
                              <ul id="nav-mobile" class="right hide-on-med-and-down">
                                {% for item in nav.admin %}
                        			  <li class="{{ 'active' if item.is_active else '' }}">
                                  <a href="{{ item.url }}">{{item.label}}</a>
                                </li>
                        		{% endfor %}
                              </ul>

                            {% elif current_user.role == "RESEARCHER" %}
                              <a href="#" class="brand-logo">Sesame - Researcher Portal</a>
                              <ul id="nav-mobile" class="right hide-on-med-and-down">
                                {% for item in nav.user %}
                        			  <li class="{{ 'active' if item.is_active else '' }}">
                                  <a href="{{ item.url }}">{{item.label}}</a>
                                </li>
                        		{% endfor %}
                              </ul>

                            {% elif current_user.role == "REVIEWER" %}
                                <a href="#" class="brand-logo">Sesame - Reviewer Portal</a>
                                <ul id="nav-mobile" class="right hide-on-med-and-down">
                                {% for item in nav.reviewer %}
                                  <li class="{{ 'active' if item.is_active else '' }}">
                                        <a href="{{ item.url }}">{{item.label}}</a>
                                  </li>
                                {% endfor %}
                                </ul>

                            {% else %}
                              <a href="#" class="brand-logo">Sesame</a>
                              <ul id="nav-mobile" class="right hide-on-med-and-down">
                                  {% for item in nav.top %}
                                      <li class="{{ 'active' if item.is_active else '' }}">
                                          <a href="{{ item.url }}">{{item.label}}</a>
                                      </li>
                                  {% endfor %}
                              </ul>
                            {% endif %}
                    </div>
                    <a href="#" data-target="mobile-links" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                </div>
            </nav>

            <!-- Mobile sidenav -->
            <ul class="sidenav" id="mobile-links">
                {% if current_user.role == "ADMIN" %}
                    {% for item in nav.admin %}
                        <li class="{{ 'active' if item.is_active else '' }}">
                            <a href="{{ item.url }}">{{item.label}}</a>
                        </li>
                    {% endfor %}
                {% elif current_user.is_authenticated %}
                    {% for item in nav.user %}
                        <li class="{{ 'active' if item.is_active else '' }}">
                            <a href="{{ item.url }}">{{item.label}}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for item in nav.top %}
                        <li class="{{ 'active' if item.is_active else '' }}">
                            <a href="{{ item.url }}">{{item.label}}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        <div class="container-fluid">

            {% block body %}{% endblock %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes onload="M.toast({html: 'You are logged in'})">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}

        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
        <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
        <script src="{{ url_for('static', filename='js/materialize.js')}}"></script>
    </body>
</html>
